In [2]:
import pandas as pd
import pathlib

In [23]:
DATA_SET = pathlib.Path.home() / "Traffic-fatalities-analyse" / "data" / "Parking_Transactions.csv"

In [24]:
DATA_SET

PosixPath('/home/patrick/Traffic-fatalities-analyse/data/Parking_Transactions.csv')

In [59]:
df = pd.read_csv(DATA_SET, nrows=5)

In [60]:
df

,ID,Source,Duration in Minutes,Start Time,End Time,Amount,Kiosk ID,App Zone ID,App Zone Group,Payment Method,Location Group,Last Updated
0,91886070,Parking Meters,219.90000,03/16/2023 08:19:05 PM,03/16/2023 11:58:59 PM,9.16,10001040.0,NaN,NaN,CARD,Core,04/30/2023 09:26:36 AM
1,91886073,Parking Meters,135.00000,03/16/2023 08:19:49 PM,03/16/2023 10:34:49 PM,4.75,10000632.0,NaN,NaN,CARD,Core,04/30/2023 09:26:36 AM
2,91886074,Parking Meters,218.03334,03/16/2023 08:20:57 PM,03/16/2023 11:58:59 PM,9.03,24002477.0,NaN,NaN,CARD,East Austin,04/30/2023 09:26:36 AM
3,91886075,Parking Meters,135.00000,03/16/2023 08:19:37 PM,03/16/2023 10:34:37 PM,4.75,10000402.0,NaN,NaN,CARD,Core,04/30/2023 09:26:36 AM
4,491450182,Passport - app,90.00000,09/09/2023 06:41:00 PM,09/09/2023 08:11:00 PM,3.30,NaN,39744.0,East Austin PTMD,App - Wallet,East Austin,10/31/2023 09:19:19 AM

In [61]:
df = df.rename(columns={
    "Duration in Minutes": "duration", 
    "Start Time": "start_datetime", 
    "End Time": "end_datetime",
    "Amount": "amount",
    "Kiosk ID": "kiosk_id",
    "App Zone ID": "app_zone_id",
    "App Zone Group" : "app_zone_group",
    "Payment Method": "payment_method",
    "Location Group": "location",
    "Last Updated": "modification_datetime"
})

In [63]:
df

,ID,Source,duration,start_datetime,end_datetime,amount,kiosk_id,app_zone_id,app_zone_group,payment_method,location,modification_datetime
0,91886070,Parking Meters,219.90000,2023-03-16 20:19:05,03/16/2023 11:58:59 PM,9.16,10001040.0,NaN,NaN,CARD,Core,04/30/2023 09:26:36 AM
1,91886073,Parking Meters,135.00000,2023-03-16 20:19:49,03/16/2023 10:34:49 PM,4.75,10000632.0,NaN,NaN,CARD,Core,04/30/2023 09:26:36 AM
2,91886074,Parking Meters,218.03334,2023-03-16 20:20:57,03/16/2023 11:58:59 PM,9.03,24002477.0,NaN,NaN,CARD,East Austin,04/30/2023 09:26:36 AM
3,91886075,Parking Meters,135.00000,2023-03-16 20:19:37,03/16/2023 10:34:37 PM,4.75,10000402.0,NaN,NaN,CARD,Core,04/30/2023 09:26:36 AM
4,491450182,Passport - app,90.00000,2023-09-09 18:41:00,09/09/2023 08:11:00 PM,3.30,NaN,39744.0,East Austin PTMD,App - Wallet,East Austin,10/31/2023 09:19:19 AM

In [64]:
df.start_datetime = pd.to_datetime(df.start_datetime, format='%m/%d/%Y %I:%M:%S %p')
df.end_datetime = pd.to_datetime(df.end_datetime, format='%m/%d/%Y %I:%M:%S %p')
df.modification_datetime = pd.to_datetime(df.modification_datetime, format='%m/%d/%Y %I:%M:%S %p')

In [65]:
df

,ID,Source,duration,start_datetime,end_datetime,amount,kiosk_id,app_zone_id,app_zone_group,payment_method,location,modification_datetime
0,91886070,Parking Meters,219.90000,2023-03-16 20:19:05,2023-03-16 23:58:59,9.16,10001040.0,NaN,NaN,CARD,Core,2023-04-30 09:26:36
1,91886073,Parking Meters,135.00000,2023-03-16 20:19:49,2023-03-16 22:34:49,4.75,10000632.0,NaN,NaN,CARD,Core,2023-04-30 09:26:36
2,91886074,Parking Meters,218.03334,2023-03-16 20:20:57,2023-03-16 23:58:59,9.03,24002477.0,NaN,NaN,CARD,East Austin,2023-04-30 09:26:36
3,91886075,Parking Meters,135.00000,2023-03-16 20:19:37,2023-03-16 22:34:37,4.75,10000402.0,NaN,NaN,CARD,Core,2023-04-30 09:26:36
4,491450182,Passport - app,90.00000,2023-09-09 18:41:00,2023-09-09 20:11:00,3.30,NaN,39744.0,East Austin PTMD,App - Wallet,East Austin,2023-10-31 09:19:19

In [ ]:
#Todo: 
# kiosk_id -> int
# add metadata to columns